span.saved {
    color: limegreen;
}

span.built {
    color: firebrick;
}

.no-provinces {
    font-weight: bold;
}

.icon-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: cover;
}

#settings-btn {
    top: 10px;
    left: 10px;

    background-image: url("/imgs/settings.png");
}

#pop-out-btn {
    top: 10px;
    right: 10px;

    background-image: url("/imgs/pop-out.png");
}

#camp-target {
    width: 32px;
    height: 20px;
    margin-right: 8px;
}
